$primary: #3c3c3c;
$emphasised: #42b549;
$subordinate: #666666;
$subordinate-lighter: #f2f2f2;

$light: #ffffff;
$dark: #000000;

$btn-default: #2c67b1;
$btn-hovered: #f4213a;
$btn-pushed: darken($btn-hovered, 10);
$btn-focused: darken($btn-default, 30);
$btn-shadow: rgba(30, 120, 233, 0.3);

$secondary: #7f7f7f;
$sld_gover: #1a1a1a;
$gray-lighten: #a6a6a6;
$gray-: #e7e8ea;
$gray-1: #cbcbcb;
$light-2: #f8f9fa;
$text-light: #fefefe;
$place: #a5a5a5;
$slid-split: #e61d1d;